<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>SBV</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <link rel="stylesheet" href="../static/index.css" />
</head>

<body>
  <!-- Navbar Down -->
  <nav class="navbar bg-dark border-bottom border-body">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">SBV's Crafted Games</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link active " aria-current="page" href="#">Home</a>
        </li>
       
      </ul>
    </div> -->
    </div>
  </nav>
  <!-- Navbar Up -->

  <!-- Inputs Down -->
  <div class="" id="inputContainer">
    <form>
      <div class="mb-3">
        <label for="player1" id="playerOne" class="form-label">Enter Name Of Player 1
        </label>
        <input type="text" class="form-control" id="player1" aria-describedby="textHelp" />
      </div>
      <div class="mb-3">
        <label for="player2" id="playerTwo" class="form-label">Enter Name Of Player 2
        </label>
        <input type="text" class="form-control" id="player2" aria-describedby="textHelp" />
      </div>
      <button type="submit" class="btn btn-sm btn-primary" id="submitBtn">
        Submit
      </button>
      <!-- Container to dynamically add player inputs -->
      <div id="playerInputs"></div>

      <button type="button" class="btn btn-sm btn-primary" id="submitPlayersBtn">
        Submit Players
      </button>
    </form>
  </div>
  <!-- Inputs Up -->

  <!-- Board Down  -->
  <div class="cont" id="board-container"></div>


  <div id="rollBtn">
    <p id="roll1">Dice it up</p>
    <h2 id="diceDisplay"></h2>
    <button>Roll </button>
    <h3 id="displayMsg"></h3>
  </div>
  </div>

  <!-- Board Up -->




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script src="../static/index.js"></script>
</body>

</html>