<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page1</title>
    <!-- bootstrap linking -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Tailwind  -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">


    <link rel="stylesheet" href="static/css/page1.css">
    <script src="static/js/page1.js"></script>
    
</head>

<body>

    <div class="Mcontainer">
        <!-- Hero Down -->
        <div class="hero"
            <section class="text-gray-600 body-font">
                <div class="herobox ">
                    <div class="">
                        <a href="/list?playlist=playlist1">
                            <div class="herotext">
                                <h1 class="">"Chill Waves, Hot Remixes"</h1>
                                <div class="">" Dive Into The Ultimate Musical Fusion "</div>
                            </div>
                        </a>

                    </div>
                    <div class="heroimg"> <a href="/list?playlist=playlist1">
                            <img id="heroimg" src="https://i.ytimg.com/vi/6AgWNszhUVg/maxresdefault.jpg" alt="stats"></a>
                    </div>
                </div>
        </div>
        <!-- Hero Up -->
        </section>
        <!-- Rows Down -->
        <!-- -----------------ROW 1 DOWN -------------------  -->
        <section class="text-gray-600 body-font ">
            <div class="container px-5 py-24 mx-auto rows">
                <div class="row1">
                    <h3 class="subheader">Today's Biggest Hits</h3> <!--Title -->
                    <div class="flex flex-wrap -m-4 mb-2">
                        <div class="xl:w-1/4 md:w-1/2 p-4">
                            <a href="/list?playlist=playlist1">
                                <div class="bg-gray-100 p-6 rounded-lg box">
                                    <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                        src="https://i.scdn.co/image/ab67706f0000000361b43bc8c113ab93d6466509" alt="content">
                                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2">MEGA HIT MIX</h2>
                                    <!--Song Name RE1 -->
                                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">Maroon-5, Imagine...
                                    </h3>
                                    <!--Buzzword RE1-->
                                </div>
                        </div></a>
                        <div class="xl:w-1/4 md:w-1/2 p-4">
                            <a href="/list?playlist=playlist2">
                                <div class="bg-gray-100 p-6 rounded-lg box">
                                    <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                        src="https://i.scdn.co/image/ab67706f00000002bb356f4951404ce7362ab02c" alt="content">
                                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2">BOLLY-BUTTER</h2>
                                    <!--Song Name RE2 -->
                                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">Arjit, Pritam...
                                    </h3>
                                    <!--Buzzword RE2-->
                                </div>
                        </div></a>
                        <div class="xl:w-1/4 md:w-1/2 p-4">
                            <a href="/list?playlist=playlist3">
                                <div class="bg-gray-100 p-6 rounded-lg box">
                                    <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                        src="https://i.scdn.co/image/ab67706f00000002a9631162322d66ffd169a263" alt="content">
                                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2">POP SHOTS</h2>
                                    <!--Song Name RE3 -->
                                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">Doja, Harry...
                                    </h3>
                                    <!--Buzzword RE3-->
                                </div>
                        </div></a>
                        <div class="xl:w-1/4 md:w-1/2 p-4 ">
                            <a href="/list?playlist=playlist4">
                                <div class="bg-gray-100 p-6 rounded-lg box">
                                    <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                        src="https://i.scdn.co/image/ab67706f00000002e0eabf6b7bb7735a065636aa" alt="content">
                                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2">STARRING RANBIR</h2>
                                    <!--Song Name RE4-->
                                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">Pritam, Arjit
                                    </h3>
                                    <!--Buzzword RE4-->
                                </div>
                        </div></a>
                    </div>
                </div>
                <!-- -----------------ROW 1 UP -------------------  -->
                <!-- -----------------ROW 2 DOWN -------------------  -->
                <div class="row2">
                    <h3 class="subheader">Trending Now</h3> <!--Title -->
                    <div class="flex flex-wrap -m-4 mb-2">
                        <div class="xl:w-1/4 md:w-1/2 p-4">
                            <a href="/list?playlist=playlist5">
                                <div class="bg-gray-100 p-6 rounded-lg box">
                                    <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                        src="https://i.scdn.co/image/ab67706c0000da84dbe10cee5b12d82ab7d307e0" alt="content">
                                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2">TRAVEL JUKEBOX</h2>
                                    <!--Song Name RE1 -->
                                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">Mohit, Benny
                                    </h3>
                                    <!--Buzzword RE1-->
                                </div>
                        </div></a>
                        <div class="xl:w-1/4 md:w-1/2 p-4">
                            <a href="/list?playlist=playlist6">
                                <div class="bg-gray-100 p-6 rounded-lg box">
                                    <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                        src="https://i.scdn.co/image/ab67706c0000da8412cfa514a2e8b2907d292476" alt="content">
                                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2">MIX MASH</h2>
                                    <!--Song Name RE2 -->
                                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">Maroon-5, Sonu...
                                    </h3>
                                    <!--Buzzword RE2-->
                                </div>
                        </div></a>
                        <div class="xl:w-1/4 md:w-1/2 p-4">
                            <a href="/list?playlist=playlist2">
                                <div class="bg-gray-100 p-6 rounded-lg box">
                                    <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                        src="https://i.scdn.co/image/ab67616d0000b27399dcaf80953b083cc7139a5f" alt="content">
                                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2">BOLLY-ROM</h2>
                                    <!--Song Name RE3 -->
                                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">Arjit, Vishal...
                                    </h3>
                                    <!--Buzzword RE3-->
                                </div>
                        </div></a>
                        <div class="xl:w-1/4 md:w-1/2 p-4 ">
                            <a href="/list?playlist=playlist1">
                                <div class="bg-gray-100 p-6 rounded-lg box">
                                    <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                        src="https://i.scdn.co/image/ab67616d0000b2735f0a59daa1b8f11bfbfe94f3" alt="content">
                                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2">HOLLY-TIMES</h2>
                                    <!--Song Name RE4-->
                                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">Imagine Dragons,...
                                    </h3>
                                    <!--Buzzword RE4-->
                                </div>
                        </div></a>
                    </div>
                    <!-- -----------------ROW 2 UP -------------------  -->
                    <!-- -----------------ROW 3 DOWN -------------------  -->
                    <div class="row3">
                        <h3 class="subheader">Best of Artists</h3> <!--Title -->
                        <div class="flex flex-wrap -m-4 mb-2">
                            <div class="xl:w-1/4 md:w-1/2 p-4">
                                <a href="/list?playlist=playlist4">
                                    <div class="bg-gray-100 p-6 rounded-lg box">
                                        <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                            src="https://i.scdn.co/image/ab67616d00001e02ba071b7b2ffb03ccb472425d" alt="content">
                                        <h2 class="text-lg text-gray-900 font-medium title-font mb-2">STARRING ARJIT</h2>
                                        <!--Song Name RE1 -->
                                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                            Arjit Singh
                                        </h3>
                                        <!--Buzzword RE1-->
                                    </div>
                            </div></a>
                            <div class="xl:w-1/4 md:w-1/2 p-4">
                                <a href="/list?playlist=playlist10">
                                    <div class="bg-gray-100 p-6 rounded-lg box">
                                        <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                            src="https://i.scdn.co/image/ab67616d0000b2730aa032c07e9fe3ab2b3efdd5" alt="content">
                                        <h2 class="text-lg text-gray-900 font-medium title-font mb-2">STARRING DUA</h2>
                                        <!--Song Name RE2 -->
                                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                           Dua Lipa
                                        </h3>
                                        <!--Buzzword RE2-->
                                    </div>
                            </div></a>
                            <div class="xl:w-1/4 md:w-1/2 p-4">
                                <a href="/list?playlist=playlist11">
                                    <div class="bg-gray-100 p-6 rounded-lg box">
                                        <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                            src="https://i.scdn.co/image/ab67616d0000b273723ec3c4b6035f1f9837e10e" alt="content">
                                        <h2 class="text-lg text-gray-900 font-medium title-font mb-2">STARRING VISHAL</h2>
                                        <!--Song Name RE3 -->
                                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                            Vishal Dadlani
                                        </h3>
                                        <!--Buzzword RE3-->
                                    </div>
                            </div></a>
                            <div class="xl:w-1/4 md:w-1/2 p-4 ">
                                <a href="/list?playlist=playlist12">
                                    <div class="bg-gray-100 p-6 rounded-lg box">
                                        <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                            src="https://i.scdn.co/image/ab67616d0000b2732a038d3bf875d23e4aeaa84e" alt="content">
                                        <h2 class="text-lg text-gray-900 font-medium title-font mb-2">STARRING BILLIE</h2>
                                        <!--Song Name RE4-->
                                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                            Billie Elish
                                        </h3>
                                        <!--Buzzword RE4-->
                                    </div>
                            </div></a>
                        </div>
                        <!-- -----------------ROW 3 UP -------------------  -->
                        <!-- -----------------ROW 4 DOWN -------------------  -->
                        <div class="row4">
                            <h3 class="subheader">Moods</h3> <!--Title -->
                            <div class="flex flex-wrap -m-4 mb-2">

                                <div class="xl:w-1/4 md:w-1/2 p-4">
                                    <a href="/list?playlist=playlist13">
                                        <div class="bg-gray-100 p-6 rounded-lg box">
                                            <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                                src="https://i.scdn.co/image/ab67706c0000da841269859e2271a2c9b31d06d9" alt="content">
                                            <h2 class="text-lg text-gray-900 font-medium title-font mb-2">GOOD MOOD
                                            </h2>
                                            <!--Song Name RE1 -->
                                            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                                Happy Times
                                            </h3>
                                            <!--Buzzword RE1-->
                                        </div>
                                </div>
                                </a>
                                <div class="xl:w-1/4 md:w-1/2 p-4">
                                    <a href="/list?playlist=playlist14">
                                        <div class="bg-gray-100 p-6 rounded-lg box">
                                            <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                                src="https://i.scdn.co/image/ab67706f00000002fb216d1ce13d5a4952a6180e" alt="content">
                                            <h2 class="text-lg text-gray-900 font-medium title-font mb-2">CHILLED HITS
                                            </h2>
                                            <!--Song Name RE2 -->
                                            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                                Jus Breathing
                                            </h3>
                                            <!--Buzzword RE2-->
                                        </div>
                                </div></a>
                                <div class="xl:w-1/4 md:w-1/2 p-4">
                                    <a href="/list?playlist=playlist15">
                                        <div class="bg-gray-100 p-6 rounded-lg box">
                                            <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                                src="https://i.scdn.co/image/ab67706c0000da84199c6523a18a92d016f0ae6f" alt="content">
                                            <h2 class="text-lg text-gray-900 font-medium title-font mb-2">DANCE INSANE
                                            </h2>
                                            <!--Song Name RE3 -->
                                            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                                Move it
                                            </h3>
                                            <!--Buzzword RE3-->
                                        </div>
                                </div></a>
                                <div class="xl:w-1/4 md:w-1/2 p-4 ">
                                    <a href="/list?playlist=playlist16">
                                        <div class="bg-gray-100 p-6 rounded-lg box">
                                            <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                                src="https://i.scdn.co/image/ab67706f00000002fa440a5b00b94e1b40954df4" alt="content">
                                            <h2 class="text-lg text-gray-900 font-medium title-font mb-2">HITS FOR KIDS
                                            </h2>
                                            <!--Song Name RE4-->
                                            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                                Genz Plays
                                            </h3>
                                            <!--Buzzword RE4-->
                                        </div>
                                </div></a>
                            </div>
                            <!-- -----------------ROW 4 UP -------------v------  -->
                            <!-- -----------------ROW 5 DOWN -------------------  -->
                            <!-- <div class="row5">
                                <h3 class="subheader">Favourites</h3> 
                                <div class="flex flex-wrap -m-4 mb-2">
                                    <div class="xl:w-1/4 md:w-1/2 p-4">
                                        <a href="/list?playlist=playlist1">
                                            <div class="bg-gray-100 p-6 rounded-lg box">
                                                <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                                    src="https://dummyimage.com/720x720" alt="content">
                                                <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Chichen
                                                    Itza
                                                </h2>
                                                Song Name RE1
                                                <h3
                                                    class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                                    SUBTITLE
                                                </h3>
                                                Buzzword RE1
                                            </div>
                                    </div></a>
                                    <div class="xl:w-1/4 md:w-1/2 p-4">
                                        <a href="/list?playlist=playlist1">
                                            <div class="bg-gray-100 p-6 rounded-lg box">
                                                <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                                    src="https://dummyimage.com/720x720" alt="content">
                                                <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Chichen
                                                    Itza
                                                </h2>
                                                Song Name RE2
                                                <h3
                                                    class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                                    SUBTITLE
                                                </h3>
                                                Buzzword RE2
                                            </div>
                                    </div></a>
                                    <div class="xl:w-1/4 md:w-1/2 p-4">
                                        <a href="/list?playlist=playlist1">
                                            <div class="bg-gray-100 p-6 rounded-lg box">
                                                <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                                    src="https://dummyimage.com/720x720" alt="content">
                                                <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Chichen
                                                    Itza
                                                </h2>
                                                Song Name RE3
                                                <h3
                                                    class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                                    SUBTITLE
                                                </h3>
                                                Buzzword RE3
                                            </div>
                                    </div></a>
                                    <div class="xl:w-1/4 md:w-1/2 p-4 ">
                                        <a href="/list?playlist=playlist1">
                                            <div class="bg-gray-100 p-6 rounded-lg box">
                                                <img class=" mythumbnail h-40 rounded w-full object-cover object-center mb-6"
                                                    src="https://dummyimage.com/720x720" alt="content">
                                                <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Chichen
                                                    Itza
                                                </h2>
                                                Song Name RE4
                                                <h3
                                                    class="tracking-widest text-indigo-500 text-xs font-medium title-font ">
                                                    SUBTITLE
                                                </h3>
                                                Buzzword RE4
                                            </div>
                                    </div></a>
                                </div>
                            </div> -->
                            <!-- -----------------ROW 5 UP -------------------  -->

        </section>
        <!-- Rows Up  -->
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="card.css">
    <script src="card.js"></script> -->
</body>

</html>